@model IEnumerable<Torrent>

<div>
    <table class="torrent-table">
        <th>
            Name
        </th>
        <th>ID</th>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.NcoreId</td>
                <td><a href="/Torrents/DownloadTorrent?id=@item.NcoreId&name=@item.Name.Replace(" ","_")" class="btn btn-primary">Download</a></td>
            </tr>
        }
    </table>
</div>