@using Microsoft.AspNetCore.Identity
@model IEnumerable<Torrent>
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<div>
    <table class="torrent-table">
        <th>
            Name
        </th>
        <th>ID</th>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.NcoreId</td>
                <td><a href="/Torrents/DownloadTorrent?id=@item.NcoreId&name=@item.Name.Replace(" ","_")" class="btn btn-primary">Download</a></td>
            

                @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admin"))
                {
                    <td><a href="/Torrents/TorrentUsersByTorrent?torrentId=@item.NcoreId&name=@item.Name.Replace(" ","_")" class="btn btn-primary">TorrentUsers</a></td>
                }
            </tr>
        }
    </table>
</div>
