html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.user-picture-size
{
    width: 45px;
    height:45px;
}

.category-checkbox {
    display: table;
}

.hide-element {
    display:none
}

.checkbox-display{
    display: flex;
}